:root {
  --clr-black: #1c1c1c;
  --clr-gray: #909090;
  --clr-white: #f7f7f7;

  --type-all: #ffffff;
  --type-blue: blue;
  --type-bug: #a8b820;
  --type-dark: #705848;
  --type-dragon: #7038f8;
  --type-electric: #f8d030;
  --type-fairy: #f0b6bc;
  --type-fighting: #c03028;
  --type-fire: #f08030;
  --type-flying: #a890f0;
  --type-ghost: #705898;
  --type-gold: var(--type-ground);
  --type-grass: #78c850;
  --type-ground: #e0c068;
  --type-ice: #98d8d8;
  --type-normal: #a8a878;
  --type-plant: var(--type-grass);
  --type-poison: #a040a0;
  --type-psychic: #f85888;
  --type-red: var(--type-fighting);
  --type-rock: #b8a038;
  --type-silver: silver;
  --type-steel: #b8b8d0;
  --type-water: #6890f0;
  --type-yellow: var(--type-electric);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-black);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: var(--clr-gray);
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}